In [2]:
import pandas as pd
import numpy as np
import pickle
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv(r"C:\Users\ADMIN\Downloads\rainfall in india 1901-2015 (1).csv")

In [4]:
data.head(4)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0

In [5]:
data.tail(4)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
4112,LAKSHADWEEP,2012,19.2,0.1,1.6,76.8,21.2,327.0,231.5,381.2,179.8,145.9,12.4,8.8,1405.5,19.3,99.6,1119.5,167.1
4113,LAKSHADWEEP,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,154.4,180.0,72.8,78.1,26.7,1426.3,60.6,131.1,1057.0,177.6
4114,LAKSHADWEEP,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,466.1,132.2,169.2,59.0,62.3,1395.0,69.3,76.7,958.5,290.5
4115,LAKSHADWEEP,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,146.4,160.4,165.4,231.0,159.0,1642.9,2.7,223.9,860.9,555.4

In [6]:
data.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
count,4116.000000,4112.000000,4113.000000,4110.000000,4112.000000,4113.000000,4111.000000,4109.000000,4112.000000,4110.000000,4109.000000,4105.000000,4106.000000,4090.000000,4110.000000,4107.000000,4106.000000,4103.000000
mean,1958.218659,18.957320,21.805325,27.359197,43.127432,85.745417,230.234444,347.214334,290.263497,197.361922,95.507009,39.866163,18.870580,1411.008900,40.747786,155.901753,1064.724769,154.100487
std,33.140898,33.585371,35.909488,46.959424,67.831168,123.234904,234.710758,269.539667,188.770477,135.408345,99.519134,68.685410,42.369611,903.846565,59.308277,201.316965,707.741531,166.942660
min,1901.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,62.300000,0.000000,0.000000,57.400000,0.000000
25%,1930.000000,0.600000,0.600000,1.000000,3.000000,8.600000,70.350000,175.600000,155.975000,100.525000,14.600000,0.700000,0.100000,804.500000,4.100000,24.050000,573.850000,34.200000
50%,1958.000000,6.000000,6.700000,7.800000,15.700000,36.600000,138.700000,284.800000,259.400000,173.900000,65.200000,9.500000,3.000000,1121.300000,19.200000,74.800000,881.100000,98.200000
75%,1987.000000,22.200000,26.800000,31.300000,49.950000,97.200000,305.150000,418.400000,377.800000,265.800000,148.400000,46.100000,17.500000,1644.775000,50.375000,196.950000,1288.175000,213.500000
max,2015.000000,583.700000,403.500000,605.600000,595.100000,1168.600000,1609.900000,2362.800000,1664.600000,1222.000000,948.300000,648.900000,617.500000,6331.100000,699.500000,1745.800000,4536.900000,1252.500000

In [7]:
data.shape

(4116, 19)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4116 entries, 0 to 4115
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SUBDIVISION  4116 non-null   object
 1   YEAR         4116 non-null   int64
 2   JAN          4112 non-null   float64
 3   FEB          4113 non-null   float64
 4   MAR          4110 non-null   float64
 5   APR          4112 non-null   float64
 6   MAY          4113 non-null   float64
 7   JUN          4111 non-null   float64
 8   JUL          4109 non-null   float64
 9   AUG          4112 non-null   float64
 10  SEP          4110 non-null   float64
 11  OCT          4109 non-null   float64
 12  NOV          4105 non-null   float64
 13  DEC          4106 non-null   float64
 14  ANNUAL       4090 non-null   float64
 15  Jan-Feb      4110 non-null   float64
 16  Mar-May      4107 non-null   float64
 17  Jun-Sep      4106 non-null   float64
 18  Oct-Dec      4103 non-null   float64
dtypes: float64(17), int64(1), object(1)
memory usage: 611.1+ KB

In [9]:
data.isnull().sum()

SUBDIVISION     0
YEAR            0
JAN             4
FEB             3
MAR             6
APR             4
MAY             3
JUN             5
JUL             7
AUG             4
SEP             6
OCT             7
NOV            11
DEC            10
ANNUAL         26
Jan-Feb         6
Mar-May         9
Jun-Sep        10
Oct-Dec        13
dtype: int64

In [10]:
data.columns

Index(['SUBDIVISION', 'YEAR', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL',
       'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL', 'Jan-Feb', 'Mar-May',
       'Jun-Sep', 'Oct-Dec'],
      dtype='object')

In [11]:
data=data.drop(['ANNUAL','Jan-Feb','Mar-May','Jun-Sep','Oct-Dec'],axis=1)

In [12]:
data.groupby(['SUBDIVISION']).count()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
SUBDIVISION,,,,,,,,,,,,,
ANDAMAN & NICOBAR ISLANDS,110,110,110,108,108,109,108,108,108,107,108,108,107
ARUNACHAL PRADESH,97,96,96,95,97,97,96,96,97,97,95,95,95
ASSAM & MEGHALAYA,115,115,115,115,115,115,115,115,115,115,115,115,115
BIHAR,115,115,115,115,115,115,115,115,115,115,115,115,115
CHHATTISGARH,115,115,115,115,115,115,115,115,115,115,115,115,115
COASTAL ANDHRA PRADESH,115,115,115,115,115,115,115,115,115,115,115,115,115
COASTAL KARNATAKA,115,114,115,115,115,115,115,115,115,115,115,115,115
EAST MADHYA PRADESH,115,115,115,115,115,115,115,115,115,115,115,115,115
EAST RAJASTHAN,115,115,115,115,115,115,115,115,115,115,115,115,115
EAST UTTAR PRADESH,115,115,115,115,115,115,115,115,115,115,115,115,115
GANGETIC WEST BENGAL,115,115,115,115,115,115,115,115,115,115,115,115,115
GUJARAT REGION,115,115,115,115,115,115,115,115,115,115,115,115,115
HARYANA DELHI & CHANDIGARH,115,115,115,115,115,115,115,115,115,115,115,115,115
HIMACHAL PRADESH,115,115,115,115,115,115,115,115,115,115,115,115,115
JAMMU & KASHMIR,115,115,115,115,115,115,115,114,115,115,115,114,114
JHARKHAND,115,115,115,115,115,115,115,115,115,115,115,115,115
KERALA,115,115,115,115,115,115,115,115,115,115,115,115,115
KONKAN & GOA,115,115,115,115,115,115,115,115,115,115,115,115,115
LAKSHADWEEP,114,112,113,112,112,112,112,111,112,111,111,108,110
MADHYA MAHARASHTRA,115,115,115,115,115,115,115,115,115,115,115,115,115
MATATHWADA,115,115,115,115,115,115,115,115,115,115,115,115,115
NAGA MANI MIZO TRIPURA,115,115,115,115,115,115,115,115,115,115,115,115,115
NORTH INTERIOR KARNATAKA,115,115,115,115,115,115,115,115,115,115,115,115,115
ORISSA,115,115,115,115,115,115,115,115,115,115,115,115,115
PUNJAB,115,115,115,115,115,115,115,115,115,115,115,115,115
RAYALSEEMA,115,115,115,115,115,115,115,115,115,115,115,115,115
SAURASHTRA & KUTCH,115,115,115,115,115,115,115,115,115,115,115,115,115
SOUTH INTERIOR KARNATAKA,115,115,115,115,115,115,115,115,115,115,115,115,115
SUB HIMALAYAN WEST BENGAL & SIKKIM,115,115,115,115,115,115,115,115,115,115,115,115,115
TAMIL NADU,115,115,115,115,115,115,115,115,115,115,115,115,115
TELANGANA,115,115,115,115,115,115,115,115,115,115,115,115,115
UTTARAKHAND,115,115,115,115,115,115,115,115,115,115,115,115,115
VIDARBHA,115,115,115,115,115,115,115,115,115,115,115,115,115
WEST MADHYA PRADESH,115,115,114,115,115,115,115,115,115,115,115,115,115
WEST RAJASTHAN,115,115,115,115,115,115,115,115,115,115,115,115,115
WEST UTTAR PRADESH,115,115,115,115,115,115,115,115,115,115,115,115,115

In [13]:
data['SUBDIVISION'].unique()

array(['ANDAMAN & NICOBAR ISLANDS', 'ARUNACHAL PRADESH',
       'ASSAM & MEGHALAYA', 'NAGA MANI MIZO TRIPURA',
       'SUB HIMALAYAN WEST BENGAL & SIKKIM', 'GANGETIC WEST BENGAL',
       'ORISSA', 'JHARKHAND', 'BIHAR', 'EAST UTTAR PRADESH',
       'WEST UTTAR PRADESH', 'UTTARAKHAND', 'HARYANA DELHI & CHANDIGARH',
       'PUNJAB', 'HIMACHAL PRADESH', 'JAMMU & KASHMIR', 'WEST RAJASTHAN',
       'EAST RAJASTHAN', 'WEST MADHYA PRADESH', 'EAST MADHYA PRADESH',
       'GUJARAT REGION', 'SAURASHTRA & KUTCH', 'KONKAN & GOA',
       'MADHYA MAHARASHTRA', 'MATATHWADA', 'VIDARBHA', 'CHHATTISGARH',
       'COASTAL ANDHRA PRADESH', 'TELANGANA', 'RAYALSEEMA', 'TAMIL NADU',
       'COASTAL KARNATAKA', 'NORTH INTERIOR KARNATAKA',
       'SOUTH INTERIOR KARNATAKA', 'KERALA', 'LAKSHADWEEP'], dtype=object)

In [14]:
data1=data.loc[(data['SUBDIVISION']=='ANDAMAN & NICOBAR ISLANDS')]

In [15]:
data1.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            2
APR            2
MAY            1
JUN            2
JUL            2
AUG            2
SEP            3
OCT            2
NOV            2
DEC            3
dtype: int64

In [16]:

data1['MAR'].fillna(data1['MAR'].mean(),inplace=True)
data1['APR'].fillna(data1['APR'].mean(),inplace=True)
data1['MAY'].fillna(data1['MAY'].mean(),inplace=True)
data1['JUN'].fillna(data1['JUN'].mean(),inplace=True)
data1['JUL'].fillna(data1['JUL'].mean(),inplace=True)
data1['AUG'].fillna(data1['AUG'].mean(),inplace=True)
data1['SEP'].fillna(data1['SEP'].mean(),inplace=True)
data1['OCT'].fillna(data1['OCT'].mean(),inplace=True)
data1['NOV'].fillna(data1['NOV'].mean(),inplace=True)
data1['DEC'].fillna(data1['DEC'].mean(),inplace=True)

In [17]:
data2=data.loc[(data['SUBDIVISION']=='ARUNACHAL PRADESH')]

In [18]:
data2.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            1
FEB            1
MAR            2
APR            0
MAY            0
JUN            1
JUL            1
AUG            0
SEP            0
OCT            2
NOV            2
DEC            2
dtype: int64

In [19]:
data2['JAN'].fillna(data2['JAN'].mean(),inplace=True)
data2['FEB'].fillna(data2['FEB'].mean(),inplace=True)
data2['MAR'].fillna(data2['MAR'].mean(),inplace=True)
data2['JUN'].fillna(data2['JUN'].mean(),inplace=True)
data2['JUL'].fillna(data2['JUL'].mean(),inplace=True)
data2['OCT'].fillna(data2['OCT'].mean(),inplace=True)
data2['NOV'].fillna(data2['NOV'].mean(),inplace=True)
data2['DEC'].fillna(data2['DEC'].mean(),inplace=True)

In [20]:
data3=data.loc[(data['SUBDIVISION']=='JAMMU & KASHMIR')]

In [21]:
data3.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            1
AUG            0
SEP            0
OCT            0
NOV            1
DEC            1
dtype: int64

In [22]:
data3['JUL'].fillna(data3['JUL'].mean(),inplace=True)
data3['NOV'].fillna(data3['NOV'].mean(),inplace=True)
data3['DEC'].fillna(data3['DEC'].mean(),inplace=True)

In [23]:
data4=data.loc[(data['SUBDIVISION']=='LAKSHADWEEP')]

In [24]:
data4.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            2
FEB            1
MAR            2
APR            2
MAY            2
JUN            2
JUL            3
AUG            2
SEP            3
OCT            3
NOV            6
DEC            4
dtype: int64

In [25]:
data4['JAN'].fillna(data4['JAN'].mean(),inplace=True)
data4['FEB'].fillna(data4['FEB'].mean(),inplace=True)
data4['MAR'].fillna(data4['MAR'].mean(),inplace=True)
data4['APR'].fillna(data4['APR'].mean(),inplace=True)
data4['MAY'].fillna(data4['MAY'].mean(),inplace=True)
data4['JUN'].fillna(data4['JUN'].mean(),inplace=True)
data4['JUL'].fillna(data4['JUL'].mean(),inplace=True)
data4['AUG'].fillna(data4['AUG'].mean(),inplace=True)
data4['SEP'].fillna(data4['SEP'].mean(),inplace=True)
data4['OCT'].fillna(data4['OCT'].mean(),inplace=True)
data4['NOV'].fillna(data4['NOV'].mean(),inplace=True)
data4['DEC'].fillna(data4['DEC'].mean(),inplace=True)

In [26]:
data5=data.loc[(data['SUBDIVISION']=='WEST MADHYA PRADESH')]

In [27]:
data5.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            0
FEB            1
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64

In [28]:
data5['FEB'].fillna(data5['FEB'].mean(),inplace=True)

In [29]:
data6=data.loc[(data['SUBDIVISION']=='KERALA')]

In [30]:
data6.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64

In [31]:
data_6=data.loc[(data['SUBDIVISION']=='COASTAL KARNATAKA')]

In [32]:
data_6.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            1
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64

In [33]:
data_6['JAN'].fillna(data_6['JAN'].mean(),inplace=True)

In [34]:
df=pd.concat([data1,data2,data3,data4,data5,data_6])

In [35]:
data=data.loc[(data['SUBDIVISION']!='COASTAL KARNATAKA')]
data=data.loc[(data['SUBDIVISION']!='WEST MADHYA PRADESH')]
data=data.loc[(data['SUBDIVISION']!='LAKSHADWEEP')]
data=data.loc[(data['SUBDIVISION']!='JAMMU & KASHMIR')]
data=data.loc[(data['SUBDIVISION']!='ANDAMAN & NICOBAR ISLANDS')]
data=data.loc[(data['SUBDIVISION']!='ARUNACHAL PRADESH')]

In [36]:
data['SUBDIVISION'].unique()

array(['ASSAM & MEGHALAYA', 'NAGA MANI MIZO TRIPURA',
       'SUB HIMALAYAN WEST BENGAL & SIKKIM', 'GANGETIC WEST BENGAL',
       'ORISSA', 'JHARKHAND', 'BIHAR', 'EAST UTTAR PRADESH',
       'WEST UTTAR PRADESH', 'UTTARAKHAND', 'HARYANA DELHI & CHANDIGARH',
       'PUNJAB', 'HIMACHAL PRADESH', 'WEST RAJASTHAN', 'EAST RAJASTHAN',
       'EAST MADHYA PRADESH', 'GUJARAT REGION', 'SAURASHTRA & KUTCH',
       'KONKAN & GOA', 'MADHYA MAHARASHTRA', 'MATATHWADA', 'VIDARBHA',
       'CHHATTISGARH', 'COASTAL ANDHRA PRADESH', 'TELANGANA',
       'RAYALSEEMA', 'TAMIL NADU', 'NORTH INTERIOR KARNATAKA',
       'SOUTH INTERIOR KARNATAKA', 'KERALA'], dtype=object)

In [37]:
merge=pd.concat([df,data])

In [38]:
merge.shape

(4116, 14)

In [39]:
merge.to_csv('annual_merged.csv')

In [40]:
merge.groupby('SUBDIVISION').count()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
SUBDIVISION,,,,,,,,,,,,,
ANDAMAN & NICOBAR ISLANDS,110,110,110,110,110,110,110,110,110,110,110,110,110
ARUNACHAL PRADESH,97,97,97,97,97,97,97,97,97,97,97,97,97
ASSAM & MEGHALAYA,115,115,115,115,115,115,115,115,115,115,115,115,115
BIHAR,115,115,115,115,115,115,115,115,115,115,115,115,115
CHHATTISGARH,115,115,115,115,115,115,115,115,115,115,115,115,115
COASTAL ANDHRA PRADESH,115,115,115,115,115,115,115,115,115,115,115,115,115
COASTAL KARNATAKA,115,115,115,115,115,115,115,115,115,115,115,115,115
EAST MADHYA PRADESH,115,115,115,115,115,115,115,115,115,115,115,115,115
EAST RAJASTHAN,115,115,115,115,115,115,115,115,115,115,115,115,115
EAST UTTAR PRADESH,115,115,115,115,115,115,115,115,115,115,115,115,115
GANGETIC WEST BENGAL,115,115,115,115,115,115,115,115,115,115,115,115,115
GUJARAT REGION,115,115,115,115,115,115,115,115,115,115,115,115,115
HARYANA DELHI & CHANDIGARH,115,115,115,115,115,115,115,115,115,115,115,115,115
HIMACHAL PRADESH,115,115,115,115,115,115,115,115,115,115,115,115,115
JAMMU & KASHMIR,115,115,115,115,115,115,115,115,115,115,115,115,115
JHARKHAND,115,115,115,115,115,115,115,115,115,115,115,115,115
KERALA,115,115,115,115,115,115,115,115,115,115,115,115,115
KONKAN & GOA,115,115,115,115,115,115,115,115,115,115,115,115,115
LAKSHADWEEP,114,114,114,114,114,114,114,114,114,114,114,114,114
MADHYA MAHARASHTRA,115,115,115,115,115,115,115,115,115,115,115,115,115
MATATHWADA,115,115,115,115,115,115,115,115,115,115,115,115,115
NAGA MANI MIZO TRIPURA,115,115,115,115,115,115,115,115,115,115,115,115,115
NORTH INTERIOR KARNATAKA,115,115,115,115,115,115,115,115,115,115,115,115,115
ORISSA,115,115,115,115,115,115,115,115,115,115,115,115,115
PUNJAB,115,115,115,115,115,115,115,115,115,115,115,115,115
RAYALSEEMA,115,115,115,115,115,115,115,115,115,115,115,115,115
SAURASHTRA & KUTCH,115,115,115,115,115,115,115,115,115,115,115,115,115
SOUTH INTERIOR KARNATAKA,115,115,115,115,115,115,115,115,115,115,115,115,115
SUB HIMALAYAN WEST BENGAL & SIKKIM,115,115,115,115,115,115,115,115,115,115,115,115,115
TAMIL NADU,115,115,115,115,115,115,115,115,115,115,115,115,115
TELANGANA,115,115,115,115,115,115,115,115,115,115,115,115,115
UTTARAKHAND,115,115,115,115,115,115,115,115,115,115,115,115,115
VIDARBHA,115,115,115,115,115,115,115,115,115,115,115,115,115
WEST MADHYA PRADESH,115,115,115,115,115,115,115,115,115,115,115,115,115
WEST RAJASTHAN,115,115,115,115,115,115,115,115,115,115,115,115,115
WEST UTTAR PRADESH,115,115,115,115,115,115,115,115,115,115,115,115,115

In [41]:
data6['ANUAL']=data6[['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL',
       'AUG', 'SEP', 'OCT', 'NOV', 'DEC']].sum(axis=1)
data6.head(4)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANUAL
3887,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6
3888,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.5
3889,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.4
3890,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.6

In [42]:
data6['JJAS']=data6[['JUN','JUL','AUG','SEP']].sum(axis=1)

In [43]:
data6.head(4)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANUAL,JJAS
3887,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,2122.8
3888,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.5,2403.3
3889,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.4,2343.1
3890,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.6,2398.2

In [44]:
data6['OND']=data6[['OCT','NOV','DEC']].sum(axis=1)

In [45]:
data6.head(4)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANUAL,JJAS,OND
3887,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,2122.8,666.1
3888,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.5,2403.3,638.2
3889,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.4,2343.1,570.1
3890,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.6,2398.2,365.3

In [46]:
#data6=data6.drop(['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL',
       #'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],axis=1)

In [47]:
data6.to_csv('KERALA.csv')

In [48]:
data7=data.loc[(data['SUBDIVISION']=='KERALA')]
data8=data.loc[(data['SUBDIVISION']=='WEST RAJASTHAN')]
data9=data.loc[(data['SUBDIVISION']=='TAMIL NADU')]

In [49]:
df=pd.concat([data7,data8,data9])

In [50]:
df.columns

Index(['SUBDIVISION', 'YEAR', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL',
       'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
      dtype='object')

In [51]:
df['annual']=df[['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL',
       'AUG', 'SEP', 'OCT', 'NOV', 'DEC']].sum(axis=1)

In [52]:
df.to_csv('TAMIL NADU.csv')